@charset "utf-8";
/* CSS Document */

a {
	color: #ff4229;
}
.section-title h3:after {
	background: #ff4229;
}
.section-title h3 span {
	color: #ff4229;
}
.btn-1 {
	border: 3px solid #ff4229;
}
.btn-1e:after {
	background: #ff4229;
}
.scroll-to-top:hover {
	background: #ff4229;
}
.main-header .info-box .icon-box {
	color: #ff4229;
}

.whychoose-wrap .about-video-item .about-video-img img{width:100%; box-shadow:20px 20px 0px 0px #ff4229;}
.main-header .header-lower:before {
	background: #ff4229;
}
.main-header .header-lower:after {
	background: #ff4229;
}
.sticky-header:before {
	background: #ff4229;
}
.sticky-header:after {
	background: #ff4229;
}
.hvr-link:before {
	background: #ff4229;
}
.quick-quote {
	background: url(../../images/qoute-pattern-o.jpg) repeat;
}
.main-menu .navigation>li>ul {
	border-top: 2px solid #ff4229;
	border-bottom: 2px solid #ff4229
}
.main-menu .navigation>li>ul>li:hover>a {
	background-color: #ff4229;
}
.main-menu .navigation>li>ul>li>ul {
	border-top: 2px solid #ff4229;
}
.main-header .language .dropdown-menu {
	border-top: 3px solid #ff4229;
}
.main-header .language .dropdown-menu>li>a:hover {
	background-color: #ff4229;
}
.bs-example-modal-md-2 h2 {
	background: #ff4229;
}
.bs-example-modal-md-1 h2 {
	background: #ff4229;
}
.bs-example-modal-md h2 {
	background: #ff4229;
}
.search-button {
	color: #ff4229;
}
.bloq-search input[type="text"] {
	border: 1px solid #ff4229;
}
.bloq-search input[type="submit"] {
	background: #ff4229;
}
.about-description li:before {
	color: #ff4229;
}
.single-item:hover .details h3 a {
	color: #ff4229;
}
.single-item .icon {
	color: #ff4229;
}
.single-item .fig_caption::before {
	border-top: 2px solid #ff4229;
	border-bottom: 2px solid #ff4229;
}
.single-item .fig_caption::after {
	border-right: 2px solid #ff4229;
	border-left: 2px solid #ff4229;
}
.whychoose-description li:before {
	color: #ff4229;
}
 @-webkit-keyframes glowing {
 0% {
background-color: #ff4229;
-webkit-box-shadow: 0 0 3px #ff4229;
}
 50% {
background-color: #ff4229;
-webkit-box-shadow: 0 0 40px #ff4229;
}
 100% {
background-color: #ff4229;
-webkit-box-shadow: 0 0 3px #ff4229;
}
}
 @-moz-keyframes glowing {
 0% {
background-color: #ff4229;
-moz-box-shadow: 0 0 3px #ff4229;
}
 50% {
background-color: #ff4229;
-moz-box-shadow: 0 0 40px #ff4229;
}
 100% {
background-color: #ff4229;
-moz-box-shadow: 0 0 3px #ff4229;
}
}
 @-o-keyframes glowing {
 0% {
background-color: #ff4229;
box-shadow: 0 0 3px #ff4229;
}
 50% {
background-color: #ff4229;
box-shadow: 0 0 40px #ff4229;
}
 100% {
background-color: #ff4229;
box-shadow: 0 0 3px #ff4229;
}
}
 @keyframes glowing {
 0% {
background-color: #ff4229;
box-shadow: 0 0 3px #ff4229;
}
 50% {
background-color: #ff4229;
box-shadow: 0 0 40px #ff4229;
}
 100% {
background-color: #ff4229;
box-shadow: 0 0 3px #ff4229;
}
}
.portfolio-area .container-filter li a {
	color: #ff4229;
}
.slidewrap h1 span {
	color: #ff4229;
}
.span_color {
	background: #ff4229 !important;
}
.testiWrp p:before {
	color: #ff4229;
}
.name {
	color: #ff4229;
}
.footer-sec .footer-info .service-link li a:before {
	color: #ff4229;
}
.footer-sec .footer-info .service-link li a:hover {
	color: #ff4229;
}
.footer-sec .footer-info .footer-adress li > i {
	color: #ff4229;
}
.footer-sec .copyright-content p a {
	color: #ff4229;
}
.footer-sec .copyright-content .footer-bottom-menu li a:hover {
	color: #ff4229;
}
.xs-breadcumb li a {
	color: #ff4229;
}
.contact-item:hover .details h3 {
	color: #ff4229;
}
.contact-item .icon {
	color: #ff4229;
}
.contact-item .fig_caption::before {
	border-top: 2px solid #ff4229;
	border-bottom: 2px solid #ff4229;
}
.contact-item .fig_caption::after {
	border-right: 2px solid #ff4229;
	border-left: 2px solid #ff4229;
}
.xs-btn {
	background: #ff4229;
}
.aboutUs-description .single-about i {
	color: #ff4229;
}
.aboutUs-description .single-about .counter_number {
	color: #ff4229;
}
.get_qoute .xs-btn:hover {
	background: #ff4229;
}
.why_choose_us_sec .single-why-choose-list i {
	background: #ff4229;
}
.blog-grid .photo-thumb .date {
	background: #ff4229;
}
.blog-grid .blogDate li i {
	color: #ff4229;
}
.blog-grid .blog-inter p a {
	color: #ff4229;
}
.blog-grid .blog-inter p a:hover {
	color: #ff4229;
}
.side-bar .archive li a:hover span {
	background: #ff4229;
}
.side-bar .tags-bar li a:hover {
	background: #ff4229;
}
.pagination-area .pagination li a:hover, .pagination li.active a {
	background: #ff4229;
	border: 1px solid #ff4229;
}
.commentArea h3:before {
	background: #ff4229;
}
.commentArea .button {
	background: #ff4229;
}
.commentArea .form-group .button:hover {
	background: #ff4229;
}
.blog-comments .comment span a {
	color: #ff4229;
}
.blog-comments .comment span a:hover {
	color: #ff4229;
}
.error-page h2 {
	color: #ff4229;
}
.error-link .search-form .input-group-btn .btn {
	background-color: #ff4229;
}
.comingSoon h2 {
	color: #ff4229;
}
.faqs-box .block .faqs-btn .icon-outer .icon {
	color: #ff4229;
}
.faqs-box .block .faqs-btn.active {
	background-color: #ff4229;
}
.special-links li:hover a, .special-links li a.active {
	color: #ff4229;
}
.special-links li a:before {
	border-color: #ff4229;
}
.single-service:last-child .sec-title h2 span {
	color: #ff4229;
}
.featureLinks li:before {
	color: #ff4229;
}
.single-product-item .title-holder .rate {
	color: #ff4229;
}
.single-shop-content .content-box span.price {
	color: #ff4229;
}
.single-shop-content .content-box .location-box form span {
	color: #ff4229;
}
.btn-style-one {
	border: 2px solid #ff4229;
}
.btn-style-one:hover {
	background-color: #ff4229;
	border: 2px solid #ff4229;
}
.product-tab-box .tab-menu li.active a, .product-tab-box .tab-menu li:hover a {
	color: #ff4229;
}
.style-greens-two.green{background-color:#ff4229;}
.style-greens-two.green i{color:#ff4229;}
.portfolio-area .container-filter li a.active, .portfolio-area .container-filter li a:hover{background:#ff4229; color:#fff;}
@media only screen and (max-width: 767px) {
.sticky-header{background:#ff4229;}
.main-header .header-lower .col-md-5{background:#ff4229;}
}

@media screen and (max-width: 991px) {
.main-header .header-lower .container .col-md-5 {
    background: #ff4229;
}

